{erl_opts, [debug_info]}.
{deps, [jason]}.

{plugins, [rebar_mix]}.
{provider_hooks, [
  {pre,  [{compile, {mix, find_elixir_libs}}]},
  {post, [{compile, {mix, consolidate_protocols}}]}
]}.



{relx, [{release, {example, "0.1.0"},
         [example,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

%%	{overlay, [{copy, "{{base_dir}}/consolidated", "releases/{{release_version}}/consolidated"}]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
